$gray = #999
$lightGray = #ccc

html, body
  font: 12px/1.4 -apple-system, BlinkMacSystemFont, 'Helvetica Neue',Helvetica,'Lucida Grande','Luxi Sans',Arial, sans-serif

body
  padding: 20px

a
  color: $gray
  text-decoration: none
  &:hover
    color: black

h1
  margin: 0 0 10px
  font-size: 14px

.chart
  margin-top: 10px