$gray = #999
$lightGray = #aaa

html, body
  font: 12px/1.4 -apple-system, BlinkMacSystemFont, 'Helvetica Neue',Helvetica,'Lucida Grande','Luxi Sans',Arial, sans-serif

body
  padding: 20px

a
  color: $lightGray
  text-decoration: none
  &:hover
    color: black

h1
  margin: 0 0 10px
  font-size: 14px
  line-height: 1
  font-weight: normal

.field
  margin-bottom: 5px

label
  color: $gray

.chart
  margin-top: 10px

footer
  color: $gray