$gray = #999
$lightGray = #aaa

html, body
  font: 12px/1.4 -apple-system, BlinkMacSystemFont, 'Helvetica Neue',Helvetica,'Lucida Grande','Luxi Sans',Arial, sans-serif

body
  padding: 20px

a
  color: $lightGray
  text-decoration: none
  &:hover
    color: black

h1, h2, h3, h4, h5, h6
  font-weight: normal
h1
  margin: 0 0 10px
  font-size: 14px
  line-height: 1

.field
  margin-bottom: 5px

label
  color: $gray

.checkbox
  color: black
  display: flex
  align-items: center

.chart
  margin-top: 10px

footer
  color: $gray

.MuiSlider-valueLabel
  top: -12px !important
  * width: 50px !important
    background: transparent !important
    color: #000 !important
    transform: none !important

.message
  padding: 10px
  border: 0.5px solid #ccc
  border-radius: 5px
  margin-bottom: 10px